h1{
    color: aqua;
}
ol{
    color: purple;
}

ul{
    color: green;
}
body{
   border: 5px;
   border-color: black;
}

.links{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}